<div class="container">
  <div class="row about-title">
    <h1>ー 全国の病院をホスnaviで検索できます ー</h1>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-6 about-img1"></div>
    <div class="col-md-6 about-font">
      <p class="about-font-question">近所にどんな病院があるか分からない？</p>
      <p>ホスnaviなら地域で病院検索が可能</p>
    </div>
  </div>

    <div class="row">
    <div class="col-md-6 about-font">
      <p class="about-font-question">評判の良い病院はどこ？</p>
      <p>ホスnaviなら来院した患者様のコメントを見る事が可能</p>
    </div>
    <div class="col-md-6 about-img2"></div>
  </div>

  <div class="row">
    ホスnaviなら病院を検索したり、診療時間を調べる、お気に入り登録する等患者様の医療を手助けします。
  </div>
</div>