/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require simple_calendar
 *= require_tree .
 *= require_self
 */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a.link_to_color_black {
  color: black;
}

a.link_to_color_black:hover {
  color: black;
  text-decoration: none;
}

a.link_to_color_red,
a.link_to_color_blue {
  color: black;
  text-decoration: none;
}

a.link_to_color_red:hover {
  color: #ff6666;
  text-decoration: none;
}

a.link_to_color_blue:hover {
  color: #9cd0f0;
  text-decoration: none;
}

.fas-fa-heart {
  color: #ff6666;
}

.fas.fa-lightbulb {
  color: #dee945;
}

/*----------header----------*/
.logo {
  padding: 20px;
  margin-top: 20px;
  font-size: 30px;
  font-family: 'Chalkduster','ヒラギノ明朝 ProN','Hiragino Mincho ProN','Avenir','Helvetica Neue','Helvetica','Arial','Hiragino Sans','ヒラギノ角ゴシック',YuGothic,'Yu Gothic','メイリオ', Meiryo,'ＭＳ Ｐゴシック','MS PGothic',sans-serif;
}

.hnav-list {
  text-align: right;
}

.hnav-item {
  display: inline-block;
  font-size: 20px;
  margin-top: 20px;
  padding: 20px;
}

.hnav-nologin-item {
display: inline-block;
font-size: 20px;
margin-top: 20px;
padding: 10px;
}
.hnav-admin-item {
  display: inline-block;
  font-size: 20px;
  margin-top: 20px;
  padding: 20px 10px 0 10px;
}

.hnav-item-about {
  margin-left: 70px;
}

.hnav-image {
  display: inline-block;
}

.hnav-link {
  color: black;
}

.hnav-link:hover {
  text-decoration: none;
}

.hnav-link:hover {
  color: black;
}

.hnav-link-login:hover,
.hnav-link-logout:hover {
  color: white;
  text-decoration: none;
}

.hnav-link-login,
.hnav-link-logout {
  background: #ff6666;
  color: white;
  padding: 0.5em;
  border-radius: 2em;
}

footer {
  height: 50px;
  text-align: center;
}

.login-submit,
.signup-submit {
  width: 360px;
}

.signup,
.login {
  text-align: center;
}

.header_member-image {
  height: 60px;
  width: 60px;
  border-radius: 50%;
}

.image-button button {
  border-style: none;
  background-color: white;
}

#text {
  display: none;
  position: fixed; /* 要素の固定 */
  z-index: 2;
  right: 135px;
  width: 200px;
  height: 250px;
  /* display: flex; */
  /* justify-content: center; */
  /* align-items: center; */
  color: black;
  background: white;
  border-style: solid;
  border-width: 1px;
}

.hnav-iconname-link {
  display: inline-block;
}

.hnav-logout-link {
  width: 100px;
  color: black;
  font-size: 20px;
  display: inline-block;
  margin-right: 45px;
  margin-top: 10px;
}

.hnav-mypage-link {
  width: 100px;
  color: black;
  font-size: 20px;
  display: inline-block;
  margin-top: 10px;
  margin-right: 50px;
}

.hnav-logout-link:hover,
.hnav-mypage-link:hover {
  color: black;
  text-decoration: none;
}

.sbox4 {
  width: 400px;
}

.facebook {
  position: absolute;
}

.fb-root {
  position: relative;
}

.fa-walking {
  transform: scale(-1, 1);
}