/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require simple_calendar
 *= require_tree .
 *= require_self
 */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a.link_to_color_black {
  color: black;
}

a.link_to_color_black:hover {
  color: black;
  text-decoration: none;
}

a.link_to_color_red,
a.link_to_color_blue {
  color: black;
  text-decoration: none;
}

a.link_to_color_red:hover {
  color: #ff6666;
  text-decoration: none;
}

a.link_to_color_blue:hover {
  color: #9cd0f0;
  text-decoration: none;
}

.fas-fa-heart {
  color: #ff6666;
}

.fas.fa-lightbulb {
  color: #dee945;
}

/*----------header----------*/
.logo {
  padding: 20px;
  margin-top: 20px;
  font-size: 30px;
  font-family: 'Chalkduster','ヒラギノ明朝 ProN','Hiragino Mincho ProN','Avenir','Helvetica Neue','Helvetica','Arial','Hiragino Sans','ヒラギノ角ゴシック',YuGothic,'Yu Gothic','メイリオ', Meiryo,'ＭＳ Ｐゴシック','MS PGothic',sans-serif;
}

.hnav-list {
  text-align: right;
}

.hnav-item {
  display: inline-block;
  font-size: 20px;
  margin-top: 20px;
  padding: 20px;
}

.hnav-nologin-item {
display: inline-block;
font-size: 20px;
margin-top: 20px;
padding: 10px;
}

.hnav-admin-item {
  display: inline-block;
  font-size: 20px;
  margin-top: 20px;
  padding: 20px 10px 0 10px;
}

.hnav-item-about {
  margin-left: 70px;
}

.hnav-image {
  display: inline-block;
}

.hnav-link {
  color: black;
}

.hnav-link:hover {
  text-decoration: none;
}

.hnav-link:hover {
  color: black;
}

.hnav-link-login:hover,
.hnav-link-logout:hover {
  color: white;
  text-decoration: none;
}

.hnav-link-login,
.hnav-link-logout {
  background: #ff6666;
  color: white;
  padding: 0.5em;
  border-radius: 2em;
}

footer {
  height: 50px;
  text-align: center;
}

.login-submit,
.signup-submit {
  width: 360px;
}

.signup,
.login {
  text-align: center;
}

.header_member-image {
  height: 60px;
  width: 60px;
  border-radius: 50%;
}

.image-button button {
  border-style: none;
  background-color: white;
}

#text {
  display: none;
  position: fixed; /* 要素の固定 */
  z-index: 2;
  right: 135px;
  width: 200px;
  height: 180px;
  /* display: flex; */
  /* justify-content: center; */
  /* align-items: center; */
  color: black;
  background: white;
  border-style: solid;
  border-width: 1px;
}

.hnav-iconname-link {
  display: inline-block;
}

.hnav-logout-link {
  display: inline-block;
  width: 100px;
  margin-top: 10px;
  margin-right: 45px;
  font-size: 20px;
  color: black;
}

.hnav-mypage-link {
  display: inline-block;
  width: 100px;
  margin-top: 30px;
  margin-right: 50px;
  font-size: 20px;
  color: black;
}

.hnav-logout-link:hover,
.hnav-mypage-link:hover {
  color: black;
  text-decoration: none;
}

.sbox4 {
  width: 400px;
}

.facebook {
  position: absolute;
}

.fb-root {
  position: relative;
}

.fa-walking {
  transform: scale(-1, 1);
}

.hnav_current_member_nickname {
  text-align: center;
  display: block;
  margin-top: 20px;
  font-size: 11px;
}

.today_events {
  text-align: center;
  display: block;
  margin-top: 10px;
  font-size: 11px;
}

@media screen and (min-width: 1201px){
  .menu-btn, .menu{display:none}
}

@media (max-width: 767px){
  .hnav-search {display:none}
  .hnav-nologin-item {display:none}
  .hnav {display:none}
  .hnav-list {display:none}
  footer {display:none}

  /* メニュー開閉ボタン */
  .menu-btn{
    position: fixed;
    top: 30px;
    right: 20px;
    z-index: 2;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    color: black;
  }

  /* メニュー本体 */
  .menu{
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #555;
  }

  .menu__item{
    width: 100%;
    height: auto;
    padding: .5em 1em;
    text-align: center;
    color: #fff;
    box-sizing: border-box;
  }

  /* アニメーション部分 */
  /* アニメーション前のメニューの状態 */
  .menu{
    transform: translateX(100vw);
    transition: all .3s linear;
  }

  /* アニメーション後のメニューの状態 */
  .menu.is-active{
    transform: translateX(0);
  }
  /* ---------- */
}