// Place all the styles related to the comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.comment-s-image {
  border-radius: 50%;
  width: 80px;
  height: 80px;
}

.comment-s-word_of_mouth {
  color: rgb(197, 194, 194);
}

.comment-s-nickname-word_of_mouth {
  margin: 0 10px 0 10px;
}

.comment_created_at_strftime {
  margin: 0 10px 0 10px;
}

.td_comment_created_at_strftime {
  width: 130px;
}

.rating-box .ratings .fa {
  font-size: 30px;
  color: #ffcc00;
  cursor: pointer;
}

.main-rating {
  display: flex;
}

.rating-value-display {
  font-size: 25px;
}

.star-rating-front1,
.star-rating-front2,
.star-rating-front3,
.star-rating-front4,
.star-rating-front5 {
  color: #ffcc33;
}

.star-rating-back {
  color: #ccc;
}

.hospital_name_comment_review {
  font-size: 25px;
}

.comments_count {
  font-size: 25px;
}

.satisfaction_level {
  font-size: 25px;
  margin: 0 0 0 200px;
}

.comment_submit {
  width: 300px;
margin: 0 0 0 230px;
}

@media (min-width: 768px){
  .comment_responsive{display: none;}
  .comment-s-form_responsive{display: none;}
}

@media (max-width: 767px){
  .comment{display: none;}
  .comment-s-table-form{display: none;}
  .comment-s-word_of_mouth_responsive{width: 20%;}
  .comment-s-nickname-word_of_mouth_responsive{width: 203px;}
  .comment_score_responsive{text-align: center;}
  .comment_strftime_favorite_responsive{text-align: center;}
  .comment_content_responsive{width: 100%;}
  .comment_submit_responsive{text-align: center;}
}