// Place all the styles related to the hospitals controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.hospital-i-index-img {
  height: 400px;
  background-image: url("home-medical_department.jpg");
}

.hospital-i-index-font {
  height: 400px;
  // background-color: honeydew;
}

.hospital-i-index-hospital_name {
  position: relative;
  display: inline-block;
  padding: 0 55px;
  font-size: 30px;
  width: 100%;
  text-align: center;
}

.hospital-i-index-hospital_name::before,
.hospital-i-index-hospital_name::after {
  content: '';
  position: absolute;
  top: 50%;
  display: inline-block;
  width: 45px;
  height: 1px;
  background-color: black;
}

.hospital-i-index-hospital_name::before {left: 60px;}
.hospital-i-index-hospital_name::after {right: 60px;}

.hospital-i-index-address {
  margin: 5px 0 0 20px;
  font-size: 20px;
}
.hospital-i-index-phone_number {
  margin: 5px 0 0 20px;
  font-size: 20px;
}

.hospital-i-index-medical_department-name {
  margin: 5px 0 0 20px;
  font-size: 20px;
}

.hospital-i-index-short_message {
  margin: 22px 0 0 20px;
  font-size: 20px;
}

.hospital-i-index-comment {
  margin: 22px 0 0 20px;
  font-size: 20px;
}

table{
  width: 100%;
  border-spacing: 0;
}

table th{
  border-bottom: solid 2px #fb5144;
  padding: 10px 0;
  text-align: center;
}

table td{
  border-bottom: solid 2px #ddd;
  text-align: center;
  padding: 10px 0;
  font-size: 15px;
}