// Place all the styles related to the hospitals controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.hospital-i-index-img {
  height: 400px;
  margin-bottom: 15px;
}

.hospital-i-index-font {
  height: 400px;
  margin-bottom: 15px;
}

.hospital-i-index-hospital_name {
  position: relative;
  display: inline-block;
  padding: 0 55px;
  font-size: 30px;
  width: 100%;
  text-align: center;
}

.hospital-i-index-hospital_name::before {
  left: 60px;
}

.hospital-i-index-hospital_name::after {
  right: 60px;
}

.hospital-i-index-address {
  margin: 20px 0 0 20px;
  font-size: 20px;
}

.hospital-i-index-phone_number {
  margin: 5px 0 0 20px;
  font-size: 20px;
}

.hospital-i-index-medical_department-name {
  margin: 5px 0 0 20px;
  font-size: 15px;
}

.fa-file-medical {
  font-size: 20px;
}

.hospital-i-index-short_message {
  margin: 22px 0 0 20px;
  font-size: 20px;
}

.hospital-i-index-comment-favorite {
  margin-top: 30px;
  font-size: 20px;
}

.hospital-i-index-comment {
  margin: 22px 0 0 20px;
  font-size: 20px;
}

.hospital-i-index-favorite {
  margin-left: 60px;
}

.hospital-i-index-notices {
  margin-top: 30px;
}

.hospital-i-index-notices-font {
  text-align: center;
  font-size: 20px;
}

.hospital-i-index-consultation {
  margin: 20px auto;
  font-size: 20px;
  text-align: center;
}

.hospital-i-th-consultation_time {
  text-align: center;
}

.hospital-i-th-consultation_day {
  text-align: center;
}

.hospital-i-td-consultation_time,
.hospital-i-td-consultation_day {
  text-align: center;
}

.hospital-s-table-consultation {
  margin-top: 10px;
}

.hospital-s-row-map {
  margin-top: 10px;
}

.hospital-i-th-consultation_sunday {
  text-align: center;
  background-color: #ff6666;
  color: white;
}

.hospital-i-th-consultation_saturday {
  text-align: center;
  background-color: #9cd0f0;
  color: white;
}

// ----------------------------------------------------
// hospital-show
// ----------------------------------------------------
.hospital-s-address {
  margin: 20px 0 0 20px;
  font-size: 20px;
}

.hospital-s-phone_number {
  margin: 5px 0 0 20px;
  font-size: 20px;
}

.hospital-s-medical_department-name {
  margin: 5px 0 0 20px;
  font-size: 20px;
}

.hospital-i-paginate {
  text-align: center;
}

.hospital-i-form {
  margin: 0 0 30px 200px;
}

.star-rating {
  position: relative;
  width: 5em;
  height: 1em;
  font-size: 25px;
}

.star-rating-front {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  color: #ffcc33;
}

.star-rating-back {
  color: #ccc;
}

.average-score {
  display: inline-flex;
}

.average-score-display {
  margin: 5px 0 0 5px;
  font-size: 20px;
}

@media (max-width: 767px){
  .hospital-i-form{display:none}
  .hospital-i-index-img{
    justify-content: center;
    max-width: 100%;
    height: auto;
  }
  .hospital-i-index-img_Responsive {
    justify-content: center;
    max-width: 100%;
    height: auto;
  }
  .hospital-i-index-hospital_name {
    font-size: 200%;
  }
  .hospital-i-index-address {
    font-size: 100%;
  }
  .hospital-i-index-phone_number {
    font-size: 100%;
  }
  .hospital-i-index-medical_department-name {
    font-size: 100%;
  }
  .hospital-i-index-short_message {
    display:none
  }
  .hospital-i-index-consultation {
    margin: 20px auto;
    font-size: 100%;
    text-align: center;
  }
  .hospital-i-index-comment-favorite {
    margin-top: 0px;
    font-size: 100%;
  }
  .hospital-i-index-comment {
    font-size: 100%;
  }
  .average-score-display {
    margin: 0 0 0 5px;
    font-size: 100%;
  }
  .star-rating {
    font-size: 100%;
  }
  .hospital-i-index-favorite {
    margin-left: 10px;
  }
}