// Place all the styles related to the members controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.member-s-container {
  height: 600px;
}

.member-s-div-image {
  text-align: center;
}

// 画像を円にする
.member-s-image {
  border-radius: 50%;
  width: 180px;
  height: 180px;
}

.member-s-table {
  margin: 30px auto;
}

.member-s-table-eventfield {
  margin: 20px auto;
  padding: 20px;
}

.member-s-table-eventfield th {
  padding-right: 20px;
}

.member-s-link-event-user {
  font-size: 20px;
  text-align: center;
  margin-top: 30px;
}

.member-s-link-event {
  padding-right: 20px;
}

.member-s-link-event:hover {
  padding-right: 20px;
  color: #ff6666;
}

.member-s-link-events {
  color: #ff6666;
}

.member-s-link-user:hover {
  color: #9cd0f0;
}

.member-s-link-users {
  color: #9cd0f0;
}

.member-s-link-hospital:hover {
  color: #89eebc;
}

.member-s-link-hospitals {
  color: #89eebc;
}

.member-s-link-favorite {
  font-size: 20px;
  text-align: center;
  margin-top: 30px;
}

.member-s-table-p {
  text-align: center;
  font-size: 20px;
}

.member-e-img {
  height: 500px;
  background-image: image-url("member_edit.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.member-e-form {
  text-align: center;
}

.submit {
  margin-left: 110px;
}

.member-e-form-member-name {
  margin-top: 20px;
}

.member-edit-submit {
  width: 360px;
  margin-top: 10px;
}

// エラーメッセージ
.notice {
  color: #9cd0f0;
}

.g_icon_login {
  font-size: 20px;
  height: 25px;
  margin: 20px 0px;
  text-align: center;
  color: black;
}

.g_icon {
  display: inline-block;
  background-size: contain;
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
  background-image: image-url("g_icon.jpg");
}

.g_icon:hover {
  color: black;
  text-decoration: none;
}

.g_icon_text:hover {
  color: black;
  text-decoration: none;
}

.guest_login {
  font-size: 20px;
  height: 25px;
  margin-top: 20px;
  text-align: center;
  color: black;
  text-decoration: none;
}